# python>=3.12.7
numpy==2.2.4
pandas==2.2.3
youtube-transcript-api==1.0.3
pymongo==4.12.0
redis==5.2.1
openai==1.75.0
langchain==0.3.23
semantic-text-splitter==0.25.1
tokenizers==0.21.1
python-dotenv==1.1.0
selenium==4.31.0
wget==3.2
flask==3.0.2
jupyter_server==2.15.0
jupyter_mcp_server==0.3.4
jupyterlab==4.4.1
jupyter-collaboration==4.0.2
ipykernel
# datalayer_pycrdt==0.12.15
langchain-openai
langchain
pyvis
gradio==4.44.1